body {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.btn-voltar {
  font-size: 22px;
  margin-right: 1vw;
}

nav{
  background-color: rgba(217, 217, 217, 0.6); 
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

nav li a:hover {
  cursor: pointer;
  text-decoration: underline #000000;
}


.contato {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin-top: 5vh;
}

input, textarea{
  width: 45vw;
  height: 8vh;
  background: rgba(217, 217, 217, 0.6);
  border: 0px solid;
  border-radius: 2px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  padding: 0 10px;
  box-sizing: border-box;
}

textarea{
  resize: none;
  width: 45vw;
  height: 23vh;
}

.spanContato{
  margin-top: -2vh;
  margin-bottom: 3vh;
}

textarea::placeholder {
  padding-top: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.btnEnviar {
  background-color: #5271FF;
  color: white;
  width: 45vw;
  height: 7vh;
  border: 0px solid;
  font-size: 20px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}


.btnEnviar:hover {
  background-color: #3a5df9;
}


.seta {
  width: 5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  margin-top: -0.5vh;
  margin-left: 3.5vw;
}

.email-container {
  position: relative;
  width: 45vw; 
}


/* font */

.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
}  