nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100vw;
    box-sizing: border-box;
}

nav ul.direita {
    margin-left: auto;
    margin-right: 5vw;
    max-width: 100vw;
    box-sizing: border-box;
}

nav ul.center { 
    text-align: center;
    margin-left: 27vw;
    max-width: 100vw;
    box-sizing: border-box;
    padding-left: 12vw;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.8vh 1vw;
    text-decoration: none;
    font-size: 1.3vw; 
    max-width: 100vw;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav li a:hover {
    cursor: pointer;
    text-decoration: underline #ffffff;
}

.logo {
    height: 13vh;
    width: 2vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 1vh;
    max-width: 2vw;
    max-height: 13vh;
    min-width: 2vw;
    min-height: 13vh;
    box-sizing: border-box;
}

.sublinhado {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  .sublinhado:hover {
    text-decoration: none !important;
  }
  
  .sublinhado::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 2px;
    background-color: currentColor;
    border-radius: 2px;
    transform: translateY(-2px);
    transition: .3s;
  }
  
  .sublinhado:hover::after {
    text-decoration: none;
    height: 3px;
    width: 90%;
    left: 4%;
    transition: .3s;
  }
