body {
    background-image: url('../img/background.png');
    height: 245vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.seta {
    width: 5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin-top: -0.5vh;
    margin-left: 3.5vw;
}

.slogan {
    position: absolute;
    width: 30vw;
    height: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #000000;
    display: flex;
    margin-left: 65vw;
    margin-top: 55vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78vh;
}

button {
    background-color: #5271FF;
    color: white;
    width: 20vw;
    height: 7vh;
    border: 0px solid;
    font-size: 20px;

}

button:hover {
    cursor: pointer;
    background-color: #3a5df9;
}
