body {
    background-image: url('../img/background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: "Be Vietnam Pro", sans-serif;
    max-height: 100vh;
    max-width: 150vw;
    margin: 0;
    padding: 0;
}

h3, span {
    color: white;
}

.seta {
    width: 5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin-top: -0.5vh;
    margin-left: 3.5vw;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

button {
    background-color: #5271FF;
    color: white;
    width: 15vw;
    height: 7vh;
    border: 0px solid;
    font-size: 20px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

button:hover {
    cursor: pointer;
    background-color: #3a5df9;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
   
}
.textoInicial{
    display: grid;
    place-items: center;
    color: white;
}

h1{
    font-size: 80px;
}

.textoInicial2{
    margin-top: -11vh;
}

.textoMarketing{
    margin-top: 27vh;
    font-size: 20px;
}

.conteudoInicio{
    background-color: #222222;
    margin-top: 4vh;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.retangulos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4vh;
}

.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.retangulo1, .retangulo2, .retangulo3, .retangulo4{
    margin-top: 3vh;
    border-radius: 10px;
    border: 2px white solid;
    height: 55vh;
    width: 20vw;
    margin-bottom: 3vh;
}

.h1 {
  font-size: 30px;
}

.logoRetangulo{
  margin-top: 2vh;
  width: 7vw;
  height: 15vh;
}

.span{
  font-size: 20px;
}

/* font */

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  
