body {
    background-image: url('../img/background.png');
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h3, span {
    color: white;
}

.seta {
    width: 5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    margin-top: -0.5vh;
    margin-left: 3.5vw;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

button {
    background-color: #5271FF;
    color: white;
    width: 20vw;
    height: 7vh;
    border: 0px solid;
    font-size: 20px;
    margin-top: 55vh;

}

button:hover {
    cursor: pointer;
    background-color: #3a5df9;
}

