body {
    padding: 0;
    margin: 0;
}

.btn-voltar {
    font-size: 22px;
    margin-right: 1vw;
}

.login {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin-top: 5vh;
}

input {
    width: 45vw;
    height: 8vh;
    background: rgba(217, 217, 217, 0.6);
    border: 0px solid;
    border-radius: 5px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 0 10px;
    box-sizing: border-box;
}

.btnEntrar {
    background-color: #5271FF;
    color: white;
    width: 45vw;
    height: 7vh;
    border: 0px solid;
    font-size: 20px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.btnConta {
    background-color: rgba(217, 217, 217, 0.6);
    color: black;
    width: 45vw;
    height: 7vh;
    border: 0px solid;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2vh;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.btns {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esqueceuSenha {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

button:hover {
    cursor: pointer;
}

.btnConta:hover {
    background-color: #c0c0c0;
}

.btnEntrar:hover {
    background-color: #3a5df9;
}

.esqueceuSenha {
    font-size: 20px;
    line-height: 51px;
    text-align: center;
    text-decoration-line: underline;
    color: #222222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.separatorio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.line1 {
    position: absolute;
    width: 20vw;
    height: 0px;
    border: 1px solid #000000;
    margin-right: 25vw;
}

.line2 {
    position: absolute;
    width: 20vw;
    height: 0px;
    border: 1px solid #000000;
    margin-bottom: -37.7vh;
    margin-left: 25vw;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seta {
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: -0.5vh;
    margin-left: 3.5vw;
}

.senha-container {
    position: relative;
    width: 45vw; 
}

.olhoSenha {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
    z-index: 1; 
}

.olho {
    width: 2vw; 
    height: 5vh;
}


