body {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.imgLogo {
    width: 10vw;
}

nav {
    background-color: rgba(217, 217, 217, 0.6);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
}

nav li a {
    display: block;
    color: black !important;
    text-align: center;
    padding: 0.8vh 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    max-width: 100vw;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav li a:hover {
    cursor: pointer;
    text-decoration: underline #000000 !important;
}

.center {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.direita {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 0.5%;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input,
select {
    width: 100%;
    height: 4vh;
    font-weight: bold;
    background: rgba(217, 217, 217, 0.6);
    color: black;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.input-invalido {
    border: 2px solid red;
}

.input-valido {
    border: 2px none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.titulo {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-size: 2vw;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

.passo {
    font-size: 1.7vw;
    ;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 20%;
    right: 23%;
    transform: translate(5%, 0%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select {
    width: 102.8%;
    height: 7vh;
}

#rua {
    width: 125%;
}

.numero {
    width: 64.2%;
    margin-left: 30%;
}

.row {
    width: 102.8%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.column {
    flex: 1;
}

button {
    width: 102.8%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 3%;
}

#continuar {
    background-color: #007bff;
    color: white;
}

#voltar {
    border: #007bff solid 2px;
    font-weight: bold;
    background-color: white;
    color: #007bff;
    border-radius: 100px;
    cursor: pointer;
}

#finalizar {
    background-color: #007bff;
    color: white;
}

/* font */

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
}